<div class="topic-wrapper">
    {{ topic.title }}
</div>

<div class="topic-below">
    <i class="bi bi-hand-thumbs-up-fill"></i> {{ topic.likes }} {{ format_plural "like" topic.likes }} | Posted on {{ format_date topic.created_at }}
</div>

<div class="textarea-wrapper">
    <textarea></textarea>
</div>

<button class="mt10 btn-primary">Comment</button>

{{#if topic}}
    <p>{{ topic.comments.length}} {{format_plural "comment" topic.comments.length}}</p>
    {{!-- {{posts.length}} {{format_plural "post" posts.length}} --}}
    
    <ul class="comment-list">
    {{#each topic.comments as | comment |}}
    <li>
        {{ comment.comment_text }}
        <p>{{ user.username }} on {{ format_date created_at }}</p>
    </li>
    {{/each}}
    </ul>
{{/if}}
